* {
    padding: 0;
    margin: 0
}

.container {
    background-color: #FFBD5E;
    height: 100vh;
    text-align: center;
}

.materia,
.titulo,
.integrantes,
.grupo {
    padding: 10px;
}

img {
    width: 141px;
    height: 121px;
}

h1 {
    padding: 5px;
}

h2 {
    text-decoration: underline;
}

h3 {
    padding-top: 10px;
}
