#navbar{
  position: absolute;
  top: 91.2px;
  transform: translateX(-110%);
}

#navbar li{
  background-color: var(--color-background-secundario);
  transform: translateX(0%);
  transition: transform 300ms ease-out;
  border-right: 6px solid var(--color-acento);
  border-bottom: 6px solid var(--color-acento);
  transition: all 400ms linear;
}

#navbar li:first-child{
  border-top: 6px solid var(--color-acento);
}

#navbar li:last-child{
  border-radius: 0px 0 10px 0;
}
#navbar li a {
  display: block;
  padding-inline: 1rem;
  padding-block: 1rem;
}

#navbar i{
  padding-right: 1rem;
}


/* Transicion mostrar/ocultar items */
#navbar li.showElement { transform: translateX(110%); }
/* Transiciones ocultar items */
#navbar li:nth-child(1) { transition-delay: 250ms; }
#navbar li:nth-child(2) { transition-delay: 200ms; }
#navbar li:nth-child(3) { transition-delay: 150ms; }
#navbar li:nth-child(4) { transition-delay: 100ms; }
#navbar li:nth-child(5) { transition-delay: 50ms; }
/* Transiciones ocultar items */
/* Transiciones mostrar items */
#navbar li.showElement:nth-child(1) { transition-delay: 50ms; }
#navbar li.showElement:nth-child(2) { transition-delay: 100ms; }
#navbar li.showElement:nth-child(3) { transition-delay: 150ms; }
#navbar li.showElement:nth-child(4) { transition-delay: 200ms; }
#navbar li.showElement:nth-child(5) { transition-delay: 250ms; }
/* Transiciones mostrar items */
/* Transicion mostrar/ocultar items */