*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: fit-content;
  font-family: inherit;
}

html{
  background-color: var(--color-background-oscuro);
  font-family: var(--custom-font-family);
}

body{
  overflow-x: hidden;
}

p{
  font-size: 20px;
}

ul{
  list-style: none;
}
ol, ul, li{
  font-family: inherit;
  font-size: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}