


.seccion-descripciones{
  background-image: url(./../assets/imgs/backgrounds/fondo-blanco.png);
  background-size: cover;
  padding: 23rem 0 13rem 0;
  z-index: 2000;
  margin-top: -9rem;
}

.seccion-descripciones>div:first-child{
  display: grid;
  position: relative;
  grid-template-columns: 1.5fr 1fr;
}

.seccion-descripciones .descripcion,
.seccion-descripciones img {
  transition: opacity 500ms ease-out;
}

.seccion-descripciones .contenedor-imagenes{
  position: sticky;
  top: 30%;
  height: 310px;
  width: 100%;
}

.seccion-descripciones img{
  position: absolute;
}

.contenedor-descripciones{
  display: flex;
  flex-direction: column;
  row-gap: 12rem;
}

.descripcion{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Empiezan los ocultos */
.seccion-descripciones img {
  opacity: 0;
}