.header{
  position: sticky;
  top: 0;
  z-index: 5000;
  background-image: url(./../assets/imgs/header-background-top.png);
}

.container-pagina>div{
  padding: 1rem 0;
}

.transparente {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.header #titulo{ 
  position: absolute;
  width: 590px;
  height: 310px;
  z-index: 8000;
  left: 50%;
  transform: translateX(-50%); 
  transition: all 300ms linear; 
  bottom: -300%;
}

.achicar{
  scale: .2;
  transform: translate(-200%, -250%) !important;
}