.header{
  position: sticky;
  top: 0;
  z-index: 5000;
  background-image: url(./../assets/imgs/header-background-top.png);
}

.container-pagina>div{
  padding: 1rem 0;
}

.transparente {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.header #titulo-header {
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn-comprar:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  animation: neon-glow 1.5s ease-in-out infinite alternate;
  transform: scale(1.1);
}

@keyframes neon-glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }

  to {
    text-shadow: 0 0 20px #ff4400, 0 0 30px #ff4400, 0 0 40px #ff4400;
  }
}