.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.progress-bar-container {
  width: 250px;
  background-color: var(--color-background-primario);
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 20px;
  border-radius: 5px;
  background-color: #3498db;
  width: 0;
}

#spider{
  width: 41px;
  height: 115px;
  background: url(./../assets/imgs/arania-climb.png) repeat-x;
  animation: fight 1s steps(9) infinite;
 
}

@keyframes fight{
  0%{background-position: 0;}
  100%{background-position: -368px;}
}

 #mas_amigos{
  font-size: 60px;
  font-weight: 600;
  margin-left: 130px;
  position: absolute;
  padding-top: 100px;
  padding-bottom: 50px;
}

#blackSpider{
  
  position: absolute;
  width: 97px;
  height: 89px;
  background: url(./../assets/imgs/blackSpider.png);
  z-index: 1000;
  left: 17%;
  bottom: -480vw;
 
  
  
}


#chicaArania{
  position: absolute;
  width: 55px;
  height: 64px;
  background: url(./../assets/imgs/chicaArania.png);
  z-index: 1000;
  left: 42%;
  bottom: -475vw;
 
}


#spiderMove{ 
  position: absolute;
  width: 88px;
  height: 88px;
  background: url(./../assets/imgs/araniaMove-removebg-preview-removebg-preview.png) repeat-x;
  z-index: 1000;
  animation: mov 2s steps(10) infinite;
  left: 78%;
  bottom: -469vw;
 

}

@keyframes mov{
  0%{background-position: 0;}
  100%{background-position: -940px;} 
}