/* ------------------ Loader ------------------ */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.progress-bar-container {
  width: 250px;
  background-color: var(--color-background-primario);
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 20px;
  border-radius: 5px;
  background-color: #3498db;
  width: 0;
}

#spider{
  width: 41px;
  height: 115px;
  background: url(./../assets/imgs/arania-climb.png) repeat-x;
  animation: fight 1s steps(9) infinite;
 
}

@keyframes fight{
  0%{background-position: 0;}
  100%{background-position: -368px;}
}
/* ------------------ Loader ------------------ */

#mas_amigos{
  font-size: 60px;
  font-weight: 600;
  margin-left: 130px;
  position: absolute;
  padding-top: 100px;
  padding-bottom: 50px;
}

/* Animaciones con SpriteSheet del footer */
.paralax-container-abajo {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: auto; /* Empuja el elemento al final del contenedor */
}

#spiderDerecha { 
  position: relative;
  bottom: 0;
  width: 88px;
  height: 88px;
  background: url(./../assets/imgs/araniaMove-removebg-preview-removebg-preview.png) repeat-x;
  animation: mov 3000ms steps(10) infinite;
  left: 75%;
  transform: translateY(-265%);
}

@keyframes mov{
  0%{background-position: 0;}
  100%{background-position: -940px;} 
}

#spiderMedio{
  background-image: url(./../assets/imgs/sprite-spiderman-del-medio.png);
  position: absolute;
  bottom: 0;
  width: 65px;
  height: 50px;
  animation: movimiento-sm-centro 1000ms steps(6) infinite;
  left: 45%;
  transform: translateY(-350%);
}

@keyframes movimiento-sm-centro {
  0%{background-position: 0;}
  100%{background-position: -405px;} 
}

#spiderIzquierda{
  background-image: url(./../assets/imgs/blackSpiderTiraSpriteSheet.png);
  position: absolute;
  bottom: 0;
  width: 115px;
  height: 80px;
  animation: movimiento-sm-izquierda 1500ms steps(11) infinite;
  left: 18%;
  transform: translateY(-140%);
}

@keyframes movimiento-sm-izquierda {
  0% { background-position: 0; }
  100% { background-position: -1468px; } 
}
/* Animaciones con SpriteSheet del footer */