.info-spiderman{
  background-image: url(./../assets/imgs/infoSpidermans/fondo-blanco-spidermans.png);
  min-height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.info-spiderman img{
  position: absolute;
  transition: 
    filter 200ms ease-in,
    scale 200ms ease-in;
}

.blur{
  filter: blur(5px);
}

.agrandar{
  scale: 1.1;
}

/* spiderman blanco */
.info-spiderman img:nth-child(1){
  left: 50%;
  bottom: 16%;
  transform: translate(-160%, 0);
}

/* spiderman original */
.info-spiderman img:nth-child(2){
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
}

/* spiderman blanco */
.info-spiderman img:nth-child(3){
  left: 50%;
  bottom: 18%;
  transform: translate(60%, 0);
}

