.info-spiderman{
  background-image: url(./../assets/imgs/infoSpidermans/fondo-blanco-spidermans.png);
  min-height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.info-spiderman .info-personaje {
  position: absolute;
  background-color: var(--color-background-oscuro);
  color: var(--color-background-primario);
  width: 100%;
  padding: 4rem;
  margin-top: 7rem;
  border: solid 1px red;
  min-height: 100%;
  z-index: 3000;
  display: grid;
  justify-items: center;
  gap: 4rem;
  grid-template-areas:  "spiderman-info" 
                        "image";
  transform: translateX(105%);
  opacity: 0;
  transition: 
    transform 500ms ease-out,
    opacity 500ms ease-out;
}

.info-spiderman .active{
  transform: translateX(0%);
  opacity: 1;
}

.info-spiderman .info-personaje image{
  grid-area: image;
  width: 100%;
}

.info-spiderman .info-personaje .spiderman-info {
  grid-area: spiderman-info;
  max-width: 90%;
}

.info-spiderman .info-personaje .spiderman-info ol{
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.info-spiderman .info-personaje button {
  position: absolute;
  background-color: var(--color-background-primario);
  height: 90px;
  width: 90px;
  right: 0;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.info-spiderman .info-personaje button div{
  background-color: var(--color-background-oscuro);
  width: 40px;
  height: 4px;
}

.info-spiderman .info-personaje button div:first-child{
  transform: translate(55%, 0%) rotate(45deg);
}

.info-spiderman .info-personaje button div:last-child{
  transform: translate(55%, -4px) rotate(-45deg);
}

.info-spiderman>img{
  position: absolute;
  transition: 
    filter 200ms ease-in,
    scale 200ms ease-in;
}

.info-spiderman>img:hover{
  cursor: pointer;
}

.blur{
  filter: blur(5px);
}

.agrandar{
  scale: 1.2;
}

/* spiderman blanco */
.info-spiderman>img:nth-child(1){
  left: 50%;
  bottom: 35%;
  transform: translate(-160%, 0);
}

/* spiderman original */
.info-spiderman>img:nth-child(2){
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, 0);
}

/* spiderman blanco */
.info-spiderman>img:nth-child(3){
  left: 50%;
  bottom: 35%;
  transform: translate(60%, 0);
}

@media screen and (min-width: 950px){
  .info-spiderman .info-personaje{
    grid-template-areas:  "image spiderman-info";
  }
}