.background-duende-2{
  background-image: url(./../assets/imgs/backgrounds/fondo-blanco.png);
  position: relative;
  color: var(--color-background-oscuro);
  margin-top: -10rem;
  padding: 20rem 0 20rem 0;
  z-index: 1000;
  margin-bottom: -10rem;
}

.background-duende-2 .grid{
  display: grid;
  row-gap: 70px;
  justify-content: center;
  grid-template-columns: auto;
}

.background-duende-2 .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  opacity: 0;
  transform: translateY(30%);
  transition: 
    transform 800ms cubic-bezier(0.18, 0.89, 0.32, 1.28),
    opacity 1600ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}


.background-duende-2 .card.visible{
  opacity: 1;
  transform: translateY(0%);
}

.grid .card img{
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1100px){
  .background-duende-2 .grid{
    display: grid;
    column-gap: 40.56px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .background-duende-2 .card:nth-child(1){
    transition-delay: 100ms;
  } 
  
  .background-duende-2 .card:nth-child(2){
    transition-delay: 200ms
  } 
  
  .background-duende-2 .card:nth-child(3){
    transition-delay: 300ms
  } 
}