.background-ghost-spider{
  background-image: url(./../assets/imgs/backgrounds/fondo-spiderman-blanco.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3000;
}

.contenedor-screenshots-flotantes{
  height: 36.5rem;
  position: relative;
}

.background-ghost-spider img{
  position: absolute;
  left: 0;
  transition: 
    transform 1000ms ease-out,
    filter 200ms ease-out;
}

.background-ghost-spider img:hover{
  transform: skew(-7.5deg, 2.5deg);
  filter: drop-shadow(0 10px 10px #ececec);
  z-index: 1000;
}

.background-ghost-spider img:first-child{
  rotate: -13deg;
  translate: 0 -30%;
}

.background-ghost-spider img:nth-child(2){
  rotate: -26.5deg;
  translate: 0 25%;
}

.background-ghost-spider img:last-child{
  rotate: -36deg;
  translate: 0 97%;
}