.background-duende-2{
  background-image: url(./../assets/imgs/backgrounds/fondo-blanco.png);
  position: relative;
  color: var(--color-background-oscuro);
  border: solid 1px green;
  margin-top: -10rem;
  padding: 20rem 0 20rem 0;
  z-index: 1000;
  margin-bottom: -10rem;
}

.background-duende-2 .grid{
  display: grid;
  row-gap: 70px;
  justify-content: center;
  grid-template-columns: auto;
}

.background-duende-2 .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.grid .card img{
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1100px){
  .background-duende-2 .grid{
    display: grid;
    column-gap: 40.56px;
    grid-template-columns: repeat(3, 1fr);
  }
}