.background-duende-1 {
  background-image: url(./../assets/imgs/backgrounds/fondo-duende.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem 0 35rem 0;
  z-index: 2000;
  margin-top: -6rem;
  color: var(--color-background-primario);
  border: solid 1px blue;
  position: relative;
}

.background-duende-1 .info{
  max-width: 55%;
}

.contenedor-imagen-inclinada {
  position: absolute;
  bottom: 0%;
  transform: rotate(-2.22deg);
  border-radius: 26px;
  outline: var(--color-background-primario) solid 9px;
  outline-offset: -9px;
  overflow: hidden;
}