.background-duende-1 {
  background-image: url(./../assets/imgs/backgrounds/fondo-duende.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem 0 29rem 0;
  z-index: 2000;
  margin-top: -6.5rem;
  color: var(--color-background-primario);
  position: relative;
}

.background-duende-1 .info{
  max-width: 55%;
}

.background-duende-1 h2{
  margin-bottom: 1.5rem;
}

.contenedor-imagen-inclinada {
  position: absolute;
  bottom: 0%;
  transform: rotate(-2.22deg);
  border-radius: 26px;
  outline: var(--color-background-primario) solid 9px;
  outline-offset: -9px;
  overflow: hidden;
  z-index: 200;
}

#imagen-duende {
  position: absolute;
  left: 50%;
  z-index: 500;
  top: 100px;
}