.paralax-container{
  position: relative;
  height: 33rem;
  width: 100%;
  /* El orden de las capas es inverso... */
  background-image: 
    url(./../assets/imgs/segundoParallax/background-arboles.svg),
    url(./../assets/imgs/segundoParallax/background-cielo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  z-index: 3000;
  box-shadow: 5px 5px 50px 1px var(--color-background-oscuro);
}

.paralax-container img{
  position: absolute;
  transition: transform 800ms ease-out;
}

/* personaje izquierda */
.paralax-container img:nth-child(1){
  left: 3%;
  bottom: -10%;
  transform: translate(-50vw, -10vh); /* TODO: Al realizar las animaciones con keyframe acordarse de settearlo a -50vw */
  /* transition-delay: 200ms; */
}
/* personaje derecha */
.paralax-container img:nth-child(2){
  right: -5%;
  bottom: -12%;
  transform: translate(30vw, -10vh);
  /* transition-delay: 600ms; */
}
/* personaje centro */
.paralax-container img:nth-child(3){
  left: 42%;
  top: -48%;
  transform: translate(60vw, 10vh);
  /* transition-delay: 400ms; */
}
/* Pasto */
.paralax-container img:nth-child(4){
  width: 100%;
  bottom: 0;
}

.paralax-container.visible img {
  transform: translate(0%);
}