/* Limita que ciertos contenedores sobrepasen un width */
.custom-max-width{
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin-inline: auto;
}

/* Display flex justify-content space-between */
.d-flex-jc-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Da un borde azul y redondeado */
.bordeada{
  border-radius: 26px;
  outline: var(--color-acento) solid 9px;
  outline-offset: -9px;
  overflow: hidden;
}

/* Agrega un shadow box sutil al elemento */
.drop-shadow-suave{
  box-shadow: 3px 6px 8px 4px var(--color-shadow-box-1); 
}

.drop-shadow-fuerte{
  box-shadow: 4px 5px 0 0 var(--color-acento--drop-shadow); 
}

.btn-cta {
  background-color: var(--color-background-secundario);
  color: var(--color-acento--drop-shadow);
  padding: 1rem 2.75rem;
  font-family: var(--custom-font-family);
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 11%;
  z-index: 2000;
}

/* Animaciones al botón comprar */
.btn-cta:hover {
  color: var(--color-background-primario);
  animation: neon-glow 1500ms ease-in-out infinite alternate;
  transform: scale(1.02);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  
}

@keyframes neon-glow {
  from {
    text-shadow: 0 0 2px var(--color-acento), 0 0 4px var(--color-acento), 0 0 5px var(--color-acento);
  }
  to {
    text-shadow: 0 0 8px var(--color-acento), 0 0 12px var(--color-acento), 0 0 16px var(--color-acento);
  }
}
/* Animaciones al botón comprar */
/* Especifica el tamaño de letra para los encabezados */
.titulo{
  font-size: 60px;
}

/* Especifica el tamaño de letra para los subtitulos */
.subtitulo{
  font-size: 40px;
}